@model List<MVCWeb.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>專案開發 - 個人網站</h1>
    <p class="lead">程式開發人員面試 - 專案開發</p>
    <p><a href="https://localhost:44393/Home/About" class="btn btn-primary btn-lg">關於我 &raquo;</a></p>
</div>

<h2>讀取資料庫 - 商品列表</h2>
<table class="table">
    <thead><tr><td>商品編號</td><td>商品名稱</td><td>商品號碼</td><td>銷售開始時間</td></tr></thead>
    <tbody>
        @foreach (var date in this.Model)
        {
            <tr>
                <td>@date.ProductID</td>
                <td>@date.Name</td>
                <td>@date.ProductNumber</td>
                <td>@date.SellStartDate</td>
            </tr>
        }
    </tbody>
</table>